{#
 # -------------------------------------------------------------------------
 # Credit plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of Credit.
 #
 # Credit is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 3 of the License, or
 # (at your option) any later version.
 #
 # Credit is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Credit. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @author    François Legastelois
 # @copyright Copyright (C) 2017-2023 by Credit plugin team.
 # @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
 # @link      https://github.com/pluginsGLPI/credit
 # -------------------------------------------------------------------------
 #}

{% import "components/form/fields_macros.html.twig" as fields %}

{% set rand = random() %}
<div name="firstbloc" id="firstbloc" class="">
    <form name="creditentity_form{{ rand }}" id="creditentity_form{{ rand }}" method="post" action="{{ form_url }}">
        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="entities_id" value="{{ entity_id }}">
        <div class="hr-text mt-2">
            <i class="fa-2x ti ti-coin"></i>
            <span>{{ __('Add a credit voucher', 'credit') }}</span>
        </div>
        <div class="row">
            {{ fields.textField(
                'name',
                '',
                __('Name'),
                {
                    'required': true,
                }
            ) }}

            {{ fields.dropdownField(
                credittypeclass,
                'plugin_credit_types_id',
                0,
                __('Type'),
            ) }}

            {{ fields.dropdownYesNo(
                'is_active',
                0,
                __('Active'),
            ) }}

            {{ fields.dropdownYesNo(
                'is_recursive',
                0,
                __('Child entities'),
            ) }}

            {{ fields.dateField(
                'begin_date',
                '',
                __('Start date'),
            ) }}

            {{ fields.dateField(
                'end_date',
                '',
                __('End date'),
            ) }}

            {{ fields.dropdownNumberField(
                'quantity',
                0,
                __('Quantity sold', 'credit'),
                {
                    'min': 1,
                    'max': 1000000,
                    'step': 1,
                    'toadd': {'0': __('Unlimited')},
                }
            ) }}

            {{ fields.dropdownYesNo(
                'overconsumption_allowed',
                -1,
                __('Allow overconsumption', 'credit'),
            ) }}

            {{ fields.dropdownNumberField(
                "low_credit_alert",
                -1,
                __('Low credit alert threshold', 'credit'),
                {
                    'min': 0,
                    'max': 50,
                    'step': 10,
                    'toadd': {'-1': __('Disabled')},
                    'unit': '%'
                }
            ) }}
        </div>
        <div class="hr mt-3 mb-3"></div>
        <div class="hstack gap-1">
            <div class="pe-5 ms-auto">
                <button class="btn btn-primary" type="submit" name="add" value="1">
                    <i class="ti ti-plus"></i>
                    <span>{{ _x('button', 'Add') }}</span>
                </button>
            </div>
        </div>
    </form>
</div>
<div name="secondbloc" id="secondbloc" class="mb-5">
    {% set datatable_params = {
        'is_tab': true,
        'nopager': true,
        'nofilter': true,
        'nosort': true,
        'columns': columns,
        'formatters': {
            'name': 'raw_html',
            'plugin_credit_types_id': 'raw_html',
            'begin_date': 'date',
            'end_date': 'date',
            'overconsumption_allowed': 'yesno',
            'is_active': 'yesno',
            'is_recursive': 'yesno',
            'entities_id': 'raw_html',
            'quantity_consumed': 'raw_html',
        },
        'entries': entries,
        'total_number': entries|length,
        'filtered_number': entries|length,
        'showmassiveactions': canedit,
        'massiveactionparams': massiveactionparams,
    } %}

    {{ include('components/datatable.html.twig', datatable_params, with_context = false) }}
</div>
