{% import "components/form/fields_macros.html.twig" as fields %}

<div name="credit_consume">

    <div class="hr-text mt-2">
        <i class="fa-2x ti ti-coin"></i>
        <span>{{ type_name }}</span>
    </div>

    {{ fields.sliderField(
        'plugin_credit_consumed_voucher',
        consume,
        __('Consume a voucher ?', 'credit'),
    ) }}

    {{ fields.dropdownField(
        creditentityclass,
        'plugin_credit_entities_id',
        default_credit,
        __('Voucher name', 'credit'),
        {
            'entity': entity_id,
            'condition': condition,
            'on_change': 'getQuantityRemaining' ~ rand ~ '(this.value);',
        }
    ) }}

    <div class="quantity">
        {{ fields.numberField(
            'plugin_credit_quantity_container',
            0,
            __('Quantity consumed', 'credit'),
            {
                'entity': entity_id,
                'condition': condition,
                'max': 0,
                'min': 0,
            }
        ) }}
    </div>

    <script>
        function getQuantityRemaining{{ rand }}(val) {
            quantity = document.querySelector('[id*="plugin-credit-quantity-container"]');
            if (val == 0) {
                document.querySelector('.quantity').style.display = 'none';
                quantity.value = 0;
            } else {
                document.querySelector('.quantity').style.display = 'block';
                $.ajax({
                    type: 'POST',
                    url: '{{ path('plugins/credit/ajax/dropdownQuantity.php') }}',
                    data: {
                        entity: val,
                    }
                }).done(function (data) {
                    quantity.max = data;
                    quantity.value = 0;
                });
            }
        }
    </script>
</div>
