{% import "components/form/fields_macros.html.twig" as fields %}

<div name="credit_consume">

    <div class="hr-text mt-2">
        <i class="fa-2x ti ti-coin"></i>
        <span>{{ type_name }}</span>
    </div>

    {{ fields.sliderField(
        'plugin_credit_consumed_voucher',
        consume,
        __('Consume a voucher ?', 'credit'),
    ) }}

    {{ fields.dropdownField(
        creditentityclass,
        'plugin_credit_entities_id',
        default_credit,
        __('Voucher name', 'credit'),
        {
            'entity': entity_id,
            'condition': condition,
            'on_change': 'getQuantityRemaining' ~ rand ~ '(this.value);',
        }
    ) }}

    <script>
        function getQuantityRemaining{{ rand }}(val) {
            console.log(val);
            $.ajax({
                type: 'GET',
                url: "{{ plugin_credit_geturl }}ajax/dropdownQuantity.php",
                data: {
                    entity: val,
                },
                success: function(data) {
                    console.log(data); // affiche le résultat de la fonction getQuantityRemaining
                },
                error: function(xhr, status, erreur) {
                    console.log(erreur); // affiche l'erreur si elle se produit
                }
            });
        }
    </script>
</div>

{# <div class="quantity">
    {{ fields.numberField(
        creditentityclass,
        'plugin_credit_entities_id',
        default_credit,
        __('Voucher name', 'credit'),
        {
            'entity': entity_id,
            'condition': condition,
            'input_class': 'col-6 col-sm-6',
            'label_class': 'col-6 col-sm-6',
            'field_class': 'col-6 col-sm-6',
            'on_change': 'getQuantityRemaining' ~ rand ~ '(this.value);',
        }
    ) }}
</div> #}
{# <tr>
    <td>
        <label for="plugin_credit_quantity">{{ __('Quantity consumed', 'credit') }}</label>
    </td>
    <td>
        <div id="plugin_credit_quantity_container{{ rand }}"></div>
        {{ Ajax.updateItemOnSelectEvent("dropdown_plugin_credit_entities_id" ~ rand, "plugin_credit_quantity_container" ~ rand, plugin_credit_geturl() ~ "/ajax/dropdownQuantity.php", {'entity': '__VALUE__'}, false) }}
    </td>
    <td colspan="2"></td>
</tr>

{% if default_credit > 0 %}
    {{ Html.scriptBlock("
        $('.timeline-buttons').on('click', function() {
            $('#dropdown_plugin_credit_entities_id" ~ rand ~ "').trigger('change');
        });
    ") }}
{% endif %} #}