{% import "components/form/fields_macros.html.twig" as fields %}

<div class="credit_ticket_form">
    {% if canedit %}
        <div class="firstblock">
            <div class="hr-text mt-2">
                <i class="fa-2x ti ti-coin"></i>
                <span>{{ __('Add a voucher to the ticket', 'credit') }}</span>
            </div>
            <form name="creditentity_form{{ rand }}" id="creditentity_form{{ rand }}" method="post" action="{{ form_url }}">
                <div class="row">
                    <input type="hidden" name="tickets_id" value="{{ ID }}">
                    {{ fields.dropdownField(
                        creditentityclass,
                        'plugin_credit_entities_id',
                        '',
                        __('Voucher name', 'credit'),
                        {
                            'entity': entity_id,
                            'condition': conditions,
                            'on_change': 'getQuantityRemaining' ~ rand ~ '(this.value);',
                            'field_class': 'col-4 col-sm-4',
                        }
                    ) }}

                    {{ fields.numberField(
                        'plugin_credit_quantity',
                        0,
                        __('Quantity consumed', 'credit'),
                        {
                            'entity': entity_id,
                            'condition': condition,
                            'max': 0,
                            'min': 0,
                            'field_class': 'col-4 col-sm-4',
                            'helper': __('Maximum consumable quantity', 'credit') ~ ' : <b>0 ',
                        }
                    ) }}

                    <script>
                        function getQuantityRemaining{{ rand }}(val) {
                            quantity = document.querySelector('[id*="plugin-credit-quantity"]');
                            quantity_label = document.querySelector('[for*="plugin-credit-quantity"]');

                            if (val == 0) {
                                quantity.value = 0;
                                quantity_label.querySelector('span.form-help').setAttribute('data-bs-content', __('Maximum consumable quantity', 'credit') + ' : 0 ');
                            } else {
                                $.ajax({
                                    type: 'POST',
                                    url: '{{ path('plugins/credit/ajax/dropdownQuantity.php') }}',
                                    data: {
                                        entity: val,
                                    }
                                }).done(function (data) {
                                    quantity.max = data;
                                    quantity.value = 0;
                                    quantity_label.querySelector('span.form-help').setAttribute('data-bs-content', __('Maximum consumable quantity', 'credit') + ' : <b>' + data);
                                });
                            }
                        }
                    </script>
                    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
                    <div class="hstack gap-1">
                        <div class="pe-5 ms-auto mb-2">
                            <button class="btn btn-primary" type="submit" name="add" value="1">
                                <i class="ti ti-device-floppy"></i>
                                <span>{{ _x('button', 'Save') }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    <div class="spaced">
    <div class="hr-text mt-2">
        <i class="fa-2x ti ti-coins"></i>
        <span>{{ __('Consumed credits for this ticket', 'credit') }}</span>
    </div>

    {% set columns = {
        'name': __('Voucher name', 'credit'),
        'plugin_credit_types_id': __('Voucher type', 'credit'),
        'date_creation': __('Date consumed', 'credit'),
        'users_id': __('User consumed', 'credit'),
        'consumed': __('Quantity consumed', 'credit')
    } %}

    {% set datatable_params = {
        'is_tab': true,
        'nopager': true,
        'nofilter': true,
        'nosort': true,
        'columns': columns,
        'formatters': {
            'name': 'raw_html',
            'plugin_credit_types_id': 'raw_html',
            'date_creation': 'date',
            'users_id': 'raw_html',
        },
        'entries': entries,
        'total_number': entries|length,
        'filtered_number': entries|length,
        'showmassiveactions': canedit,
        'massiveactionparams': massiveactionparams,
    } %}

    {{ include('components/datatable.html.twig', datatable_params, with_context = false) }}
</div>
